@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

.main.container{
    padding: 2% 7% 2% 7%;
    background: rgba(255,255,255,0.9);
    width: 75%;
}

body{
    background: #0D5226;
    background-image: url("img/background.svg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.banner{
    margin: 0;
    width: 100%;
}

.banner img{
  width: 100%;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
}

h2{
    font-size: 2em;
    text-align: center;
    color: #8D1C13;
    font-family: 'Palanquin Dark', sans-serif;
}
h3{
   font-size: 1.8em;
   text-align: center; 
}
h4{
   font-size: 1.2em;
   text-align: center; 
}
.main-menu {
    width:100%;
    padding: 0;
}
.main-menu .navbar {
    margin-bottom:10px;
}

.main-menu .navbar-inner {  
    border:none;
}
.main-menu .navbar-inner .navbar-header {
    background-color: #0D5226;
}
.main-menu .navbar-header button {
    margin-right:15px;
}
.main-menu .navbar-default .navbar-nav>li {
    font-size:18px;
}
.main-menu .navbar-default .navbar-nav>li>a {
    color:white;
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    font-size:1.8em;
}

.main-menu .navbar-default .navbar-nav>li>a:hover,
.main-menu .navbar-default .navbar-nav>li>a:focus{
    color:lightblue;
    text-decoration: none; 
}

@media screen and (max-width: 767px){
    .main-menu .navbar-default .navbar-nav>li>a{
        line-height: 1.1em;
    }
    #collapse-1 {
        width:100%;
        position: absolute;
        top:100%;
        background: rgba(13, 82, 38,1);
    }
}
@media screen and (min-width: 768px){
    .main-menu .nav.navbar-nav {
        width:100%;
        display:inline-flex;
        justify-content: center;
    }
    .main-menu .navbar-inner {  
        background: rgba(13, 82, 38,1);
    }
}
/*
@media screen and (min-width: 768px){
    #collapse-1 { width: 100%; overflow: hidden; }
    #collapse-1 ul { list-style: none; position: relative; float: left; display: block; left: 50%; }
    #collapse-1 ul li { position: relative; float: left; display: block; right: 50%; }
}*/

#tipisks:hover{
    color:rgb(150, 27, 30);
}

.links img {
    display:block;
    margin: 5px auto;
    height: 60px;
}
.links p{
    text-align: center;
    font-weight: bold;
}
#sejiens{
    color:#8D1C13;
}

.footer.container{
    width:100%;
    background: #0D5226;
}

.sponsors {
    border-top: 1px solid #0D5226;
    background-color: #0D5226;
    bottom: 0;
    width: 100%;
}

.sponsors img {
    display:block;
    margin: 5px auto;
    padding: 15px 0px;
    height: 90px;
}

hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}