@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');


.container{
    padding: 2% 7% 2% 7%;
    background: rgba(255,255,255,0.9);
    width: 75%;
}

body{
    background: #0D5226;
    background-image: url("img/background.svg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.banner{
    margin: 0;
    width: 100%;
}

.banner img{
  width: 100%;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
}

h2{
    font-size: 2em;
    text-align: center;
    color: #8D1C13;
    font-family: 'Palanquin Dark', sans-serif;
}
h3{
   font-size: 1.8em;
   text-align: center; 
}
h4{
   font-size: 1.2em;
   text-align: center; 
}

#tipisks:hover{
    color:rgb(150, 27, 30);
}

.navigation div{
    display: inline-block;
}

.menu{
    font-size: 18px;
/*    margin: auto;*/
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;

}
.links img {
    display:block;
    margin: 5px auto;
    height: 60px;
}
.links p{
    text-align: center;
    font-weight: bold;
}
#sejiens{
    color:#8D1C13;
}
#main-menu{
    background-color: #0D5226;
    width: 100%;

}
#main-menu  a{
    color: white;
    text-decoration: none;
}
#main-menu  a:hover{
    color: lightblue;
    text-underline: none;
}

#main-menu li{
    font-size: 1.8em;
    display: inline;
    padding: 1%;
}

.sponsors {
    border-top: 1px solid #0D5226;
    background-color: #0D5226;
    bottom: 0;
    width: 100%;
}

.sponsors img {
    display:block;
    margin: 5px auto;
    height: 60px;
}

.footer{
    background: #0D5226;
}


hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}