.container{
    background: #fff;
    width: 75%;
    margin-top: 50px;
    
}

body{
    padding-top: 30px;
    background: #c4e3eb;
}

.banner{
    text-align: center;
}

.banner img{
    height: 50px;
    display: inline;
}

h1{
    text-transform: uppercase;
}